# Configurações do Servidor
PORT=3000

DATABAS_URL = "mysql://root:password@localhost:3306/tarefas_db_DSW_marina_seixas_mazon"

# Banco de Dados (para uso futuro)
DB_HOST="localhost"
DB_PORT="3306"
DB_NAME="tarefas_db"
DB_USER="usuario"
DB_PASSWORD=s"""

# JWT (para uso futuro)
# JWT_SECRET=sua_chave_secreta_aqui

# Ambiente
NODE_ENV=development
